%ul.nav.nav-list
  %li
    = link_to root_path do
      %i.menu-icon.fa.fa-tachometer
      %span.menu-text TOP
    %b.arrow
  %li
    = link_to articles_path do
      %i.menu-icon.fa.fa-user
      %span.menu-text 記事一覧
